name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install_dependencies
    - run: sudo apt install libx11-dev libxi-dev libgl1-mesa-dev
    - name: make
      run: make linux
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
